.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    padding: 20px;
    text-align: center;
    background-color: #f0f0f0;

}

.parrafo {

    font-size: 30px;
   
    max-width: 600px;

}